{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/base_style.css' %}">

    {% block head %}

    {% endblock %}


    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/indexStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/header.css' %}">
</head>

<body>
<script>


    var url_create_memory= "{% url 'knowledge:create_memory'  %}"
    var url_convert_text_to_tags= "{% url 'knowledge:convert_text_to_tags' %}"
    var url_temp= "{% url 'knowledge:temp' %}"
    var url_get_single_tag_counter= "{% url 'knowledge:get_single_tag_counter' tag_text='null' %}"
    var delete_icon= "{% static '/knowledge/img/delete_icon.png' %}"

console.log(url_get_single_tag_counter)

    function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
}

</script>

{% include 'knowledge/header.html' %}
<main>
{% block content %}

{% endblock %}
    </main>
</body>

</html>