<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/base_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/indexStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/tags_section.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/header.css' %}">
</head>

<body>
<script>


    var url_create_memory= "{% url 'knowledge:create_memory'  %}"
</script>
{% include 'knowledge/header.html' %}
<main>
{% block content %}

{% endblock %}
    </main>
</body>

</html>