{% extends 'knowledge/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/tags_section.css' %}">
{% endblock %}



{% block content %}
{% if message != "" %}
<div class="message" >
    <div class="message_text">
        Создано знание: "{{ message }}"

    </div>
</div>
{% endif %}
{% include 'knowledge/tags_section.html' %}
<!--<script type="text/javascript" src="/static/knowledge/create_memory.js "></script>-->
<!--{% load static %}-->



{% endblock %}
