<header>

    {% if request.path != "/login/" and request.path != "/signup/" %}
    <a  class="button on_header">
        <div class="text_on_button">поиск</div>
    </a>
    <a href="/show_memory" class="button on_header">
        <div class="text_on_button">Посмотреть все здания</div>
    </a>
    <a href="/create_memory" class="button on_header">
        <div class="text_on_button">Создать знание</div>
    </a>
    <a class="button on_header">
        <div class="text_on_button">Создать дело</div>
    </a>
    {% endif %}

    {% if request.path == "/login/" %}
    <a href="{% url 'knowledge:signup' %}" class="button on_header">
        <div class="text_on_button">
            Зарегистрироваться
        </div>
    </a>
    {% elif request.path == "/signup/" %}
    <a href="{% url 'knowledge:login' %}" class="button on_header">
        <div class="text_on_button">
            Войти
        </div>
    </a>
    {% else %}

    <a href="{% url 'knowledge:logout' %}" class="button on_header">
        <div class="text_on_button">
            Выйти
        </div>
    </a>

    {% endif %}

    <!---->
    <!--<a class="header_button login">-->
    <!--<div class="text_on_button">-->
    <!--{% if request.path == "/login/" %}-->
    <!--<a href="{% url 'knowledge:signup' %}"> signup</a>-->
    <!--{% elif request.path == "/signup/" %}-->
    <!--<a href="{% url 'knowledge:login' %}"> login </a>-->
    <!--{% else %}-->
    <!--<a href="{% url 'knowledge:logout' %}"> logout temp</a>-->
    <!--{% endif %}-->
    <!--</div>-->
    <!--</a>-->


</header>
