{% extends 'knowledge/base.html' %}
    {% block head %}
            <link rel="stylesheet" type="text/css" href="{% static 'knowledge/css/tags_section.css' %}">
    {% endblock %}

{% block content %}
<!--<div class="button under_header">-->
    <!--<div class="text_on_button">По времени создания</div>-->
<!--</div>-->
<!--<div class="button under_header">-->

    <!--<div class="text_on_button">По приоритету</div>-->
<!--</div>-->
    <div class="center-column ">


        {% for info in memores_and_tags %}
        <div class="line">
            <div class="memory-column">
                <div class="left-text">{{ info.0 }}</div>
            </div>
            {% for tag in info.1 %}

            <div class="left-text">{{ tag }}</div>


        </div>
        {%endfor%}
        {%endfor%}


    </div>



{% endblock %}

