{% extends 'knowledge/base.html' %}

{% block content %}

<form action="{% url 'knowledge:createUser'  %}" method="post">
    {% csrf_token %}
    <div>
        <label>
            username
            <input name="username">
        </label>
    </div>
    <div>
        <label>
            email
            <input name="email">
        </label>
    </div>
    <div>
        <label>
            password
            <input name="password">
        </label>
    </div>

    <input type="submit" value="submit">
</form>

<script>


</script>


{% endblock %}
