

<div class="container">
    {% csrf_token %}

    {% if message != "" %}
<script>
document.getElementsByClassName("container")[0].style.top = "100px";
</script>
{% endif %}
    <div class="label inter_knowledge">Введите знание</div>

    <div class="textArea" contenteditable="true" placeholder="Поместите текст сюда...">знание обо всем</div>
    <div class="label inter_tags">Введите теги</div>
    <div class="tagSection " placeholder='Без тега знанию будет присвоен тег: "no tags"' >
        <div class="tag_input" contenteditable="true" name="input_for_new_tag" placeholder='Без тега знанию будет присвоен тег: "no tags"'></div>
    </div>

    <div class="tags_button button" name="convert_text_to_tags">

        <div class="text_on_button">
            Преобразовать в теги

        </div>


    </div>
    <div class="tags_button button" style="left:30%;" name="create_memory_button">

        <div class="text_on_button">
            Создать знание

        </div>


    </div>

    <div class="label priority"> Приоритет</div>
    <input type="text" class="priority_section" placeholder="8" value="">
<div class="converted_tags"></div>
    {% load static %}
    <script type="text/javascript" src="{% static '/knowledge/js/create_memory.js' %}"></script>
    <script type="text/javascript" src="{% static '/knowledge/js/YT_tag.js' %}"></script>
    <script type="text/javascript" src="{% static '/knowledge/js/temp.js' %}"></script>
    <script type="text/javascript" src="{% static '/knowledge/js/convert_to_tags.js' %}"></script>

</div>
