body{
margin:0;
}

main{
margin:0;

align-items: center;
display: flex;
justify-content: center;
}

.text_on_button{

margin:0;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FAF3F3;
}

.button{


width: 240px;
height: 40px;


background: #4A7DC9;
border: 1px solid #1C1A1A;
box-sizing: border-box;
border-radius: 40px;
align-items: center;
display: flex;
justify-content: center;
text-decoration: none;
}

div.message{
position: absolute;
width: 771px;
height: 48px;
left: 20%;
top: 120px;

background: #C4C4C4;
border: 2px solid #43CC7A;
box-sizing: border-box;
border-radius: 20px;
}

div.message_text{
position: absolute;
top: 30%;
left: 20px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

/*temp*/

img.temp{
display:inline;
background: #C4C4C4;
box-sizing: border-box;
}

.tag_{
display: inline;
margin:0;
padding: 3px 6px;

}
div.block{
display:inline;
border:solid black 1px;
}
/*end temp*/