header {

/*width:auto;*/
height: 90px;
display: flex;
justify-content: center;
background: #A5ABA4;
align-items: center;

    resize: none;
overflow: auto;
min-width: 1400px; /*suggest a min-width &amp; min-height*/
/*min-height: 50px;*/
}



.button.on_header{
margin-left:26px;
}

.button.on_header:last-child{
margin-left:100px;
}




